# Ignore environment files
environments/*
!environments/local.env
!environments/test.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest coverage output
.coverage
htmlcov/

# Editor files
.idea/
.vscode/

# OS-specific
.DS_Store
